
.registration-page {
  height: 100vh;
  background: linear-gradient(135deg, #eef2f7, #090306d0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  background: rgb(47, 46, 46);
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(231, 227, 227, 0.1);
  width: 100%;
  max-width: 400px;
  
  /* padding-left: 1px; */
  
}


.form-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #0090E7;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: white;

}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #d20c65;
  box-shadow: 0px 0px 4px rgba(210, 12, 101, 0.3);
}


.btn-submit {
  width: 100%;
  padding: 12px 15px;
  background: #0090E7;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;
}

.btn-submit:hover {
  background: #0e83cc;
}

.form-footer {
  margin-top: 20px;
  text-align: center;
}

.link {
  color: #d20c65;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
